body {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  text-align: center;
 
 
}

#video {
size: ;
vertical-align: inherit;
margin-top: 50px;
margin-left: 50px;
margin-right: -850px;
}

#canvasDiv{
background-image: url("./images/gameBG.png");
background-repeat: no-repeat;
background-position-x: 50px;
background-position-y: 50px;


}


#canvas {
    margin-left: 50px;
    margin-top: 50px;
    
    
  }
#start-button {
  font-weight: 700;
  background-color: rgb(216, 188, 30);
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  
}
.game-intro{
  align-self: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;

}
h1 {
  color: brown;
  font-size: medium;
}
